// white
$color-white: #FFFFFF;

// black
$color-black-01: #000000;
$color-black-02: #313336;

// grey
$color-grey-01: #828282;
$color-grey-02: #F1F1F2;
$color-grey-03: #CACBCD;

// orange
$color-orange: #F89F1C;

// blue
$color-blue: #195E95;