html, body, * {
  font-family: Roboto;
  font-size: 12px;  
  font-weight: 300;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin: 35px 0;
}

/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}